* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('./images/desktop-design.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 70px;
}
.container {
    background-image: url('./images/active-states.jpg');
    display: flex;
    flex-direction: column;
    height: 420px;
    width: 251px;
    padding: 20px;
    border-radius: 10px;
}
.eth-a {
    display: flex;
    margin-top: 8px;
}
.container .img img {
    height: 220px;
    width: 251px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
.equi {
    margin-top: 15px;
    margin: 0;
    padding: 0;
}
.equi p.head {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}
.equi p.sub {
    font-size: 15px;
    color: hsl(215, 51%, 70%);
    margin-bottom: 15px;
}
.eth-a {
    display: flex;
    gap: 4rem;
}
.eth-a p.eth {
    color: hsl(178, 100%, 50%);
    font-weight: bold;
}
.eth-a p.timer {
    color: hsl(215, 51%, 70%);
}
hr {
    border: 0.1px solid hsl(215, 32%, 27%);
}
.attribution {
    display: flex;
    gap: .5rem;
}
.attribution img {
    height: 50px;
}
.attribution p {
    margin-top: 7px;
}
