* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('./images/desktop-design.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 70px;
}
.container {
    background-image: url('./images/active-states.jpg');
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 251px;
    padding: 20px;
}
.eth-a {
    display: flex;
    margin-top: 8px;
    gap: 5rem;
}
.container .img img {
    height: 215px;
    width: 261px;
}
.attribution {
    display: flex;
    gap: .5rem;
}
.attribution img {
    height: 50px;
}
.attribution p {
    margin-top: 7px;
}