* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('./images/desktop-design.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 70px;
}
.container {
    background-image: url('./images/active-states.jpg');
    display: flex;
    flex-direction: column;
    height: 420px;
    width: 221px;
    padding: 20px;
    border-radius: 10px;
}
.eth-a {
    display: flex;
    margin-top: 8px;
}
.container .img img {
    height: 220px;
    width: 216px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
.equi p.head {
    color: white;
}
